<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" xmlns:fb="http://www.facebook.com/2008/fbml"
  xmlns:og="http://opengraphprotocol.org/schema/"
  xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
  <head>
    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    <meta property="og:image" content="http://blog.jcorioland.io/assets/images/profile.jpg" />
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="alternate" href="http://blog.jcorioland.io/feed.xml" type="application/rss+xml" 
    title="RSS Feed for blog.jcorioland.io" />
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="/" title="{{ site.title }}">{{ site.title | default: site.github.repository_name }}</a></h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <p>
        <a href="https://twitter.com/jcorioland" title="Follow me on Twitter"><img src="/assets/images/twitter.png" alt="Twitter" /></a>
        <a href="https://github.com/jcorioland" title="GitHub"><img src="/assets/images/github.png" alt="GitHub" /></a>
        <a href="https://www.linkedin.com/in/juliencorioland/" title="Linked In"><img src="/assets/images/linkedin.png" alt="Linked In" /></a>
      </p>
    </section>

    <section class="main-content">
      {{ content }}
      <!-- <h2>Categories</h2>
      <ul>
      {% assign orderedCategories = site.categories | sort: '' %}
      {% for category in orderedCategories %}
          <li>{{ category[0] }} ({{ category[1].size }})</li>
      {% endfor %}
      </ul>
      <h2>Archives</h2>
      {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'"  %}
      <ul>
      {% for year in postsByYear %}
        <li>{{ year.name }} ({{year.size}})</li>
      {% endfor %}
      </ul> -->
      <footer class="site-footer">
        <span class="site-footer-credits">&copy; Julien Corioland, Software Engineer @ Microsoft - Hosted on <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </section>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e7ebee6383c8370"></script> 
  </body>
</html>