---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }} in </span>
  {% assign orderedCategories = page.categories | sort: '' %}
  {% for category in orderedCategories %} 
    <span class="post-category">
      <a href="{{site.baseurl}}/categories/#{{category| replace: ' ', '-'}}">{{category}}</a>
      {% if forloop.last == false %}
      | 
      {% endif %}
    </span>
  {% endfor %}
  {{ content }}
</div>
<div class="disqus">
  <hr />
  <blockquote>Any question about this post? Feel free to drop a comment below or contact me on Twitter <a href="https://twitter.com/jcorioland" title="@jcorioland">@jcorioland</a></blockquote>
  <div id="disqus_thread"></div>
  <script>
  
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
  
  */
  var disqus_config = function () {
    this.page.url = "{{ site.url }}{{ site.baseUrl }}{{ page.id }}.html";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{ page.identifier }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };


  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://blog-jcorioland-io.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>